.navbar {
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3rem;
}

.title {
    margin-left: 3rem;
}